/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Tenor+Sans&display=swap');

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  }

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  }

ul[class],
ol[class] {
  list-style: none;
  }

a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  }

a {
  color: #75b752;
  text-decoration: none;
  transition: color .3s linear;
  }

a:hover { 
  color: #89c868;
  }

a:focus,
a:hover,
a:active { 
  outline: none !important;
  }

p { 
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 24px;
  }

p.gl-big-indent {
  margin: 0 0 50px;
}

b, strong { 
  font-weight: 700;
  }

button { 
  margin: 0;
  padding: 0;
  vertical-align: top;
  border: 0;
  background: none;
  border-radius: 0;
  }

button:focus,
button:hover,
button:active { 
  outline: none !important;
  }

img {
  max-width: 100%;
  display: block;
  }

article > * + * {
  margin-top: 1em;
  }

input,
button,
textarea,
select {
  font: inherit;
  }

input:focus,
input:hover,
input:active,
textarea:focus,
textarea:hover,
textarea:active { 
  outline: none !important;
  }

/* body */
body { 
  min-width: 320px;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 28px;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  }

.wrapper {
  margin: 0 auto;
  padding: 60px 0;
  max-width: 328px;
  }

body.o-hidden {
  overflow: hidden;
  }

/* question-widget */
.question-widget {
  max-width: 328px;
  }

.question-widget__title {
  font-size: 24px;
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 400;
  line-height: 28px;
  }

.consultant-info {
  position: relative;
  margin: 0 0 16px;
  padding: 65px 16px 21px;
  background: url("../img/consultant-info-dec.svg") right bottom no-repeat #E9E9E9;
  border-radius: 4px;
  }

.consultant-info__title {
  display: block;
  margin: 0 0 15px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 18px;
  }

.consultant-info__text {
  display: block;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 12px;
  }

.consultant-info__photo {
  position: absolute;
  right: 15px;
  bottom: 0;
  }

.question-widget p {
  margin: 0 0 16px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 20px;
  }

.gl-btn {
  display: block;
  margin: 0;
  padding: 22px 30px;
  width: 100%;
  color: #fff;
  font-size: 14px;
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 16px;
  text-transform: uppercase;
  border: 0;
  background: #F08597;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s background;
  }

.gl-btn:hover {
  color: #fff;
  background: #ed687e;
  }

/* question-modal */
.question-modal {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  overflow: auto;
  z-index: 999;
  }

.question-modal.show {
  display: block;
  }

.question-modal__in {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 15px;
  }

.question-modal__conntent {
  position: relative;
  padding: 40px 50px 50px;
  max-width: 466px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  }

.question-modal__close-btn {
  position: absolute;
  display: block;
  width: 14px;
  height: 14px;
  top: 13px;
  right: 13px;
  font-size: 0;
  background: url("../img/close-btn.png") center no-repeat;
  background-size: 100%;
  cursor: pointer;
  transition: .3s opacity;
  }

.question-modal__close-btn:hover {
  opacity: 0.8;
  }

.question-modal__title {
  margin: 0 0 20px;
  font-size: 30px;
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 400;
  line-height: 36px;
  }

.question-modal fieldset {
  margin: 0 0 20px;
  padding: 0;
  border: 0;
  }

.question-modal fieldset:last-child {
  margin: 0;
  }

/* input */
.question-modal input[type='tel'],   
.question-modal input[type='text'],
.question-modal input[type='email'],
.question-modal input[type='password'] {
  margin: 0;
  padding: 0 25px;
  vertical-align: top;
  width: 100%;
  height: 48px;
  color: #000;
  font-size: 16px;
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 400;
  border: 1px solid #E9E9E9;
  background: #fff;
  box-shadow: none;
  border-radius: 4px;
  transition: .3s border-color;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  }

.question-modal input[type='tel']:focus,   
.question-modal input[type='text']:focus,
.question-modal input[type='email']:focus,
.question-modal input[type='password']:focus {
  border-color: #cdcdcd;
  }

.question-modal input[type='tel']::-moz-placeholder,
.question-modal input[type='text']::-moz-placeholder,
.question-modal input[type='email']::-moz-placeholder,
.question-modal input[type='password']::-moz-placeholder {
  color: #8b8b8b;
  opacity: 1;
  outline: none;
  }

.question-modal input[type='tel']::-webkit-input-placeholder,
.question-modal input[type='text']::-webkit-input-placeholder,
.question-modal input[type='email']::-webkit-input-placeholder,
.question-modal input[type='password']::-webkit-input-placeholder {
  color: #8b8b8b;
  opacity: 1;
  outline: none;
  }

/* textarea */
.question-modal textarea {
  margin: 0;
  padding: 15px 20px;
  vertical-align: top;
  width: 100%;
  height: 150px;
  color: #000;
  font-size: 16px;
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 400;
  border: 1px solid #E9E9E9;
  background: #fff;
  box-shadow: none;
  border-radius: 4px;
  transition: .3s border-color;
  overflow: auto;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  }

.question-modal textarea:focus {
  border-color: #cdcdcd;
  }

.question-modal textarea::-moz-placeholder {
  color: #8b8b8b;
  opacity: 1;
  outline: none;
  }

.question-modal textarea::-webkit-input-placeholder {
  color: #8b8b8b;
  opacity: 1;
  outline: none;
  }

@media (max-width: 480px) {

.question-modal__conntent {
  padding: 25px;
  border-radius: 5px;
  }

.question-modal__title {
  font-size: 20px;
  line-height: 26px;
  }

}